{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-app-header">
        <div class="inner-app-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content center-center top-60 full-width-md">
                <h1 class="heading-1">Ignite Apps</h1>
                <div class="header-app-link">
                    <a href="#" class="foot-app foot-app-1 mr-r-10">
                    </a>
                    <a href="#" class="foot-app foot-app-2 mr-l-10">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
            <h2 class="heading-2">Ignite Virtual Private Network.</h2>
            <h2 class="heading-2">Complex name. Simple solution.</h2>
            <p class="paragraph--large">Ignite is a Virtual Private Network which gives you total privacy online, secures your internet connection, and unblocks the web. Ignite prevents hackers, government agencies and your internet service provider from tracking you online. Otherwise, your sensitive data, internet history, and financial transactions can be intercepted, monitored and modified. Ignite gives you the protection you need, with bulletproof encryption, all at blazing fast speeds and with unlimited bandwidth.</p>
            <a class="nonblock" href="#">
                <p class="link--large">Download the App below </p>
            </a>
        </div>
        <div class="bg-mbl-app"></div>
    </section>
{% include "footer.html" %}
