{% include "header.html" %}
<!-- /.container -->
<div class="body-overlay"></div>    

<div class="col-lg-2"></div>
<div class="col-lg-8">
  <form class="new_signup" id="new_signup" action="#" accept-charset="UTF-8" method="post" ><input type="hidden" value="2" name="package_id" id="signup_package_id" />
    <input type="hidden" name="payment_method" id="signup_payment_method" />
    <h2>Choose your IgniteVPN plan</h2>
    <p><strong>ALL PLANS</strong> are covered by a no-hassle <strong>100% Money-Back Guarantee</strong> for your first 30 days of service.<br>Get a VPN in 3 easy steps!</p>










    <!-- STEP 1 -->
    <div class="row">
      <div class="col-sm-12">
        <div class="step step1">
          <div class="step-content">
            <h5>Select a plan that works for you:
            </h5>
            <p>All plans include all IgniteVPN apps, 24/7 customer support, and high-speed unlimited bandwidth.</p>
          </div>
        </div>
      </div>
    </div>



    <div class="row plan-selector">
      <div class="col-sm-4">
        <div class='plan' data-override-months='1' data-package='{"id":1,"cost":"12.95","billing_cycle":1,"billing_cycle_units":"months","cost_per_month":12.95,"billing_cycle_months_number":1}' id='package_1'>
          <div class="plan-box">
            <div class="checkmark">
              <div class="glyphicon glyphicon-ok"></div>
            </div>
            <div class="plan-name">
              1 Month
            </div>
            <div class="plan-amount">
              <div class="price">
                <div class="sup">$</div>
                <div class="monthly-amount">6.95</div>
              </div>
              <div class="per-month">per month</div>
            </div>
            <div class="divider"></div>
            <div class="billing-info">Billed $6.95 every month.</div>
            <div class="thirty-day">30-day money-back guarantee.</div>
          </div>
        </div>


      </div>
      <div class="col-sm-4">
        <div class="best-deal plan selected" data-package="{&quot;id&quot;:3,&quot;cost&quot;:&quot;99.95&quot;,&quot;billing_cycle&quot;:12,&quot;billing_cycle_units&quot;:&quot;months&quot;,&quot;cost_per_month&quot;:8.32,&quot;billing_cycle_months_number&quot;:12}" id="package_3">
          <div class="best-deal-sticker best-deal-sticker-md">
            <span>Most Popular</span>
          </div>
          <div class="plan-box">
            <div class="checkmark">
              <div class="glyphicon glyphicon-ok"></div>
            </div>
            <div class="plan-name">
              12 Months
            </div>
            <div class="best-deal-sticker best-deal-sticker-sm">
              <span>Most Popular</span>
            </div>
            <div class="corssed-out-price">
              <div class="crossed-out-sup">
                $
              </div>
              <div class="crossed-out-monthly-amount">
                7.95
              </div>
            </div>
            <div class="plan-amount">
              <div class="price">
                <div class="sup">$</div>
                <div class="monthly-amount">3.33</div>
              </div>
              <div class="per-month">per month</div>
            </div>
            <div class="divider"></div>
            <div class="billing-info">Billed <span class="corssed-out-total">$95.40</span> $39.95 every 12 months.</div>
            <div class="thirty-day">30-day money-back guarantee.</div>
            <div class="savings">Save 35%</div>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        <div class="plan" data-package="{&quot;id&quot;:2,&quot;cost&quot;:&quot;59.95&quot;,&quot;billing_cycle&quot;:6,&quot;billing_cycle_units&quot;:&quot;months&quot;,&quot;cost_per_month&quot;:9.99,&quot;billing_cycle_months_number&quot;:6}" id="package_2">
          <div class="plan-box">
            <div class="checkmark">
              <div class="glyphicon glyphicon-ok"></div>
            </div>
            <div class="plan-name">
              6 Months
            </div>
            <div class="plan-amount">
              <div class="price">
                <div class="sup">$</div>
                <div class="monthly-amount">5.99</div>
              </div>
              <div class="per-month">per month</div>
            </div>
            <div class="divider"></div>
            <div class="billing-info">Billed $35.95 every 6 months.</div>
            <div class="thirty-day">30-day money-back guarantee.</div>
          </div>
        </div>


      </div>
    </div>






    <div class="row">
      <div class="col-sm-12">
        <p class="payment-note">All amounts shown are in <strong>USD</strong>.</p>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-12">
        <div class="step step2">
          <div class="step-content">
            <h5>Enter your account information:</h5>
            <p>Privacy Guarantee: We do not share your information and will contact you only as needed to provide our service.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-email">
            <input placeholder="Your Email Address" autocomplete="off" class="required form-control input-lg" size="30" name="signup_email" id="signup_email" type="email">
            <p class="caption">We hate spam as much as you do.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-username">
            <input placeholder="Your Username" autocomplete="off" class="required form-control input-lg" size="30" name="username" id="signup_username" type="text">
            <p class="caption">This will be your VPN login as well.</p>
          </div>
        </div>
      </div>



      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-password">
            <input placeholder="Your VPN Password" autocomplete="off" class="required form-control input-lg" size="30" name="signup_password" id="signup_password" type="password">
            <p class="caption">This will be your VPN password as well.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <div class="form-email">
            <input placeholder="Confirm Your VPN Password" autocomplete="off" class="required form-control input-lg" size="30" name="password_confirm" id="signup_password_confirm" type="password">
            <p class="caption"></p>
          </div>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-sm-12">
        <div class="step step3">
          <div class="step-content">
            <h5>Select your preferred method of payment:</h5>
          </div>
        </div>
      </div>
    </div>








    <div class="row">
      <div class="col-md-8">
        <div class="payment-methods">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default" data-payment-method="1">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                  <h4>
                    Credit Card
                    <div class="paymethod-row">
                      <div class="paymethod paymethod-visa"></div>
                      <div class="paymethod paymethod-mastercard"></div>
                      <div class="paymethod paymethod-amex"></div>
                      <div class="paymethod paymethod-discover"></div>
                      <div class="paymethod paymethod-jcb"></div>
                      <div class="paymethod paymethod-visaelectron"></div>
                      <!--<div class="paymethod paymethod-delta"></div>
                        <div class="paymethod paymethod-dinersclub"></div>-->
                    </div>
                  </h4>
                </a>
              </div>
              <div class="credit-card-form panel-collapse collapse" id="collapseOne" style="height: 0px;">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-section">
                        <div class="row">
                          <div class="col-sm-12">
                            <h6>Your Details</h6>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6"><div class="form-group"><label for="signup_first_name">First Name</label><input class="required form-control" name="first_name" id="signup_first_name" aria-required="true" type="text"></div></div>
                          <div class="col-sm-6"><div class="form-group"><label for="signup_last_name">Last name</label><input class="required form-control" name="last_name" id="signup_last_name" aria-required="true" type="text"></div></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6"><div class="form-group"><label for="signup_address1">Address</label><input class="required form-control" name="address1" id="signup_address1" aria-required="true" type="text"></div></div>
                          <div class="col-sm-6"><div class="form-group"><label for="signup_city">City</label><input class="required form-control" name="city" id="signup_city" aria-required="true" type="text"></div></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6"><div class="form-group"><label for="signup_state">State/Province
                                <span>(leave blank if none)</span>
                              </label><input class="is optional form-control" name="state" id="signup_state" type="text">
                            </div></div><div class="col-sm-6"><div class="form-group"><label for="signup_zip">ZIP/Postal Code
                                  <span>(leave blank if none)</span>
                                </label><input class="is optional form-control" name="zip" id="signup_zip" type="text">
                              </div></div></div>
                              <div class="row">
                                <div class="col-sm-6"><div class="form-group"><div class="country-select">
                                      <label for="signup_country">Country</label>
                                      <select class="form-control required" name="country" id="signup_country" aria-required="true"><option value=""></option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Aland Islands">Aland Islands</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antarctica">Antarctica</option>
                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas, The">Bahamas, The</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and Saba</option>
                                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Bouvet Island">Bouvet Island</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China Mainland">China Mainland</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Congo, The Democratic Republic of the">Congo, The Democratic Republic of the</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Curaçao">Curaçao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="France, Metropolitan">France, Metropolitan</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Territories">French Southern Territories</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia, The">Gambia, The</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guernsey">Guernsey</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Heard Island and the McDonald Islands">Heard Island and the McDonald Islands</option>
                                        <option value="Holy See">Holy See</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jersey">Jersey</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea, Republic of">Korea, Republic of</option>
                                        <option value="Kosovo">Kosovo</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macao">Macao</option>
                                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montenegro">Montenegro</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Namibia">Namibia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherlands">Netherlands</option>
                                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau">Palau</option>
                                        <option value="Palestinian Territories">Palestinian Territories</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Philippines">Philippines</option>
                                        <option value="Pitcairn">Pitcairn</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russian Federation">Russian Federation</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="Saint Barthelemy">Saint Barthelemy</option>
                                        <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                        <option value="Saint Lucia">Saint Lucia</option>
                                        <option value="Saint Martin">Saint Martin</option>
                                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                        <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Sint Maarten">Sint Maarten</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Timor-Leste">Timor-Leste</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States">United States</option>
                                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                        <option value="Uruguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands, British">Virgin Islands, British</option>
                                        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                        <option value="Wallis and Futuna">Wallis and Futuna</option>
                                        <option value="Western Sahara">Western Sahara</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option></select>
                                    </div>
                                  </div></div></div>
                      </div>
                      <div class="form-section">
                        <div class="row">
                          <div class="col-sm-12">
                            <h6>Your Credit Card Details</h6>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-9">
                            <div class="form-group">
                              <label for="signup_cc_no">Credit card number
                              </label>
                              <input autocomplete="off" class="required form-control" name="cc_no" id="signup_cc_no" aria-required="true" type="tel" />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-sm-9">
                            <div class="form-group">
                              <label>Expiry Date</label>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="month-select">
                                    <select id="signup_expiry_month" name="expiry_month" class="form-control required" aria-required="true">
                                      <option value="">Month</option>
                                      <option value="1">01</option>
                                      <option value="2">02</option>
                                      <option value="3">03</option>
                                      <option value="4">04</option>
                                      <option value="5">05</option>
                                      <option value="6">06</option>
                                      <option value="7">07</option>
                                      <option value="8">08</option>
                                      <option value="9">09</option>
                                      <option value="10">10</option>
                                      <option value="11">11</option>
                                      <option value="12">12</option>
                                    </select>

                                  </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="year-select">
                                    <select id="signup_expiry_year" name="expiry_year" class="form-control required" aria-required="true">
                                      <option value="">Year</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019">2019</option>
                                      <option value="2020">2020</option>
                                      <option value="2021">2021</option>
                                      <option value="2022">2022</option>
                                      <option value="2023">2023</option>
                                      <option value="2024">2024</option>
                                      <option value="2025">2025</option>
                                      <option value="2026">2026</option>
                                      <option value="2027">2027</option>
                                      <option value="2028">2028</option>
                                      <option value="2029">2029</option>
                                      <option value="2030">2030</option>
                                      <option value="2031">2031</option>
                                      <option value="2032">2032</option>
                                      <option value="2033">2033</option>
                                      <option value="2034">2034</option>
                                      <option value="2035">2035</option>
                                      <option value="2036">2036</option>
                                      <option value="2037">2037</option>
                                    </select>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-9">
                            <div class="form-group">
                              <label class="cc_info_cv" for="signup_ccv">CVC
                                <a data-open-in-modal="true" data-modal-options="{&quot;title&quot;:&quot;What is the Security Code?&quot;,&quot;close-button-text&quot;:&quot;Close&quot;}" class="glyphicon glyphicon-question-sign cvv-tip" href="/what_is_ccv_2"></a>
                              </label><input pattern="[0-9]*" autocomplete="off" maxlength="4" class="required form-control" size="4" name="ccv" id="signup_ccv" aria-required="true" type="tel">
                              <input type="hidden" name="token" id="signup_token" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-summary">
                    <div class="total">
                      Order Total:
                      <span class="order-total-value">$39.95</span>
                    </div>
                    <div class="billing-cycle">
                      <span class="IgniteVPN-plan">IgniteVPN 12-month plan</span>
                      <span class="plan-description">($3.33 per month, billed every 12 months)</span>
                    </div>
                  </div>

                  <p>
                  <input id="join_now" value="Join Now" class="btn btn-success btn-lg" type="submit">
                  </p><div class="secure-checkout">
                    <img alt="Secure Server" src="//xvp.akamaized.net/assets/public/lock-icon-01931d0817d7ab197ec7c9b0f8da8c5d.png" width="10" height="13">
                    Secure checkout. You're 100% backed by our 30-Day Money-Back Guarantee. 
                  </div>
                  <p></p>
                  <p class="tos">By submitting this form you agree to our <a href="/tos" target="_blank">Terms of service</a></p>
                </div>
              </div>
            </div>

            <div class="panel panel-default" data-payment-method="2">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                  <h4>
                    PayPal
                    <div class="paymethod-row">
                      <div class="paymethod paymethod-paypal"></div>
                    </div>
                  </h4>
                </a>
              </div>
              <div class="collapse panel-collapse" id="collapseTwo">
                <div class="panel-body">
                  <p>To finish sign-up, click on the “Continue to PayPal” button.</p>
                  <div class="order-summary">
                    <div class="total">
                      Order Total:
                      <span class="order-total-value">$39.95</span>
                    </div>
                    <div class="billing-cycle">
                      <span class="IgniteVPN-plan">IgniteVPN 12-month plan</span>
                      <span class="plan-description">($3.33 per month, billed every 12 months)</span>
                    </div>
                  </div>

                  <p>
                  <input name="commit" value="Continue to Paypal" class="btn btn-success btn-lg" type="submit">
                  </p>
                  <p class="tos">By continuing to PayPal, you agree to our <a href="/tos" target="_blank">terms of service</a></p>
                </div>
              </div>
            </div>

            <div class="panel panel-default" data-payment-method="5">
              <div class="panel-heading">
                <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                  <h4>
                    Bitcoin
                    <div class="paymethod-row">
                      <div class="paymethod paymethod-bitcoin"></div>
                    </div>
                  </h4>
                </a>
              </div>
              <div class="collapse panel-collapse" id="collapseThree">
                <div class="panel-body">
                  <p>Continue below to buy VPN with Bitcoin.</p>
                  <div class="order-summary">
                    <div class="total">
                      Order Total:
                      <span class="order-total-value">$12.95</span>
                    </div>
                    <div class="billing-cycle">
                      <span class="IgniteVPN-plan">IgniteVPN 1-month plan</span>
                      <span class="plan-description-one-time">($12.95 for 1 month of service).</span>
                      <span class="one-time-only">
                        This is a one-time payment only.
                      </span>
                    </div>
                  </div>

                  <p>
                  <input name="commit" value="Continue to BitPay" class="btn btn-success btn-lg" type="submit">
                  </p>
                  <p class="tos">By continuing to BitPay, you agree to our <a href="/tos" target="_blank">terms of service</a></p>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="order-summary-box">
          <h4>IgniteVPN includes:</h4>
          <ul class="checkmark">
            <li>24/7 customer support by Live Chat</li>
            <li><em>Ultra fast</em> servers in 94 countries</li>
            <li>Apps for <i class="fa fa-windows"></i> <i class="fa fa-apple"></i> <i class="fa fa-android"></i> <i class="fa fa-mobile"></i> <i class="fa fa-wifi"></i> <i class="fa fa-linux"></i> and more!</li>
            <li>Best-in-class security &amp; encryption</li>
            <li>Unlimited bandwidth &amp; server switches</li>
            <li><strong>30 Days Risk Free.</strong> Not satisfied? Get your money back, no questions asked.</li>
          </ul>
        </div>
      </div>
    </div>
  </form>
    <script>
     Stripe.setPublishableKey('{{ pk }}');
      /*
      var elements = stripe.elements();
      var cc_no = elements.create('cardNumber');
      var cc_expire = elements.create('cardExpiry');
      cc_no.mount('#cc_no');
      cc_expire.mount('#cc_expire');
      */
    </script>
    <script src="/js/main.js"></script>
  {% include "footer.html" %}

  <script src="/js/package_opt.js"></script>
