{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="features-header">
        <div class="inner-features-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content mr-t-15 center-center full-width-sm">
                <h1 class="heading-1">Explore Ignite</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
            <h2 class="heading-2">Lightweight application.</h2>
            <h2 class="heading-2">Heavyweight protections.</h2>
            <p class="paragraph--large">VPN is an acronym for ‘Virtual Private Network’, historically used by private organizations to link geographically diverse locations seamlessly over the internet. Ignite VPN "tunnels" traffic between two devices by transmitting it over the public internet. Ignite VPN takes this one step further by giving you the option to encrypt all the data you send and receive, and additionally allows you to appear to be located many miles away or in a different country from where you really are.</p>
            <a class="nonblock" href="pricing.php">
                <p class="link--large">Sign up today > </p>
            </a>
        </div>
    </section>
    <section class="shared-section shared-sec-1">
    </section>
    <section class="shared-section shared-sec-2">
        <div class="container">
            <div class="shared-content">
                <div class="internet-security">
                    <div class="division-wrapper">
                        <div class="internet-security_content">
                            <h2 class="heading-2--left">Internet Security</h2>
                            <p class="paragraph--small">Ignite VPN acts as a bodyguard for all the data you send over the internet. Once connect, your device is assigned a new IP address—owned by us, not your Internet Service Provider. All of your traffic is encrypted and tunneled to our server. Once there, it is decrypted and allowed to travel to its intended</p>
                        </div>
                        <div class="internet-security_content">
                            <p class="paragraph--small no-margin-top">destination. Anyone snooping will only see a single encrypted data stream between you and our server—nothing else.</p>
                            <p class="paragraph--small">If you use your laptop or mobile device at WiFi hotspots, hotels, or other public networks your connection is potentially under risk by identity thieves and other hackers. Ignite VPN encrypts all traffic between your device and our servers thereby giving you a very strong level of protection.</p>
                        </div>
                    </div>
                    <div class="set-secure">
                        <div class="set-div set-bg secur-1">
                            <h4 class="heading-4">Encrypts Your Data</h4>
                            <p class="paragraph--small mr-tb-15">Encrypt all your digital data such as credit cards, account information, banking details, and other sensitive online data, no matter where you are.</p>
                        </div>
                        <div class="set-div set-bg secur-2">
                            <h4 class="heading-4">Unlimited Bandwidth</h4>
                            <p class="paragraph--small mr-tb-15">ignite offers unlimited bandwidth and have no artificial usage quotas. Plus, our customers get three simultaneous connections from the same place.</p>
                        </div>
                        <div class="set-div set-bg secur-3">
                            <h4 class="heading-4">Absolutely No Logs</h4>
                            <p class="paragraph--small mr-tb-15">We never log you usage or activity. Under no circumstances will we ever provide any personal, communication, or usage information to third parties.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shared-section shared-sec-3">
        <div class="container">
            <div class="shared-content">
                <div class="internet-security">
                    <div class="division-wrapper">
                        <div class="internet-security_content">
                            <h2 class="heading-2--left">Online Privacy</h2>
                            <p class="paragraph--small">The majority of customers use a VPN service to protect their online privacy by limiting the amount of information that their Internet Service Provider (ISP), government and other commercial organizations are able to see. At Ignite, believe that you have the right to control who has access to your</p>
                        </div>
                        <div class="internet-security_content">
                            <p class="paragraph--small no-margin-top">personal data and our service gives you that control by using some of the most advanced encryption and authentication protocols that protect your data from unauthorized access.</p>
                            <p class="paragraph--small">When connected to Ignite, your data will be secured and encrypted, keeping all your personal communications private. Your online activity cannot be intercepted, monitored or recorded by your ISP, company, school or government.</p>
                        </div>
                    </div>
                    <div class="set-privacy">
                        <div class="set-div set-bg privacy-1">
                            <h4 class="heading-4">VPN Protocols</h4>
                            <p class="paragraph--small mr-tb-15">Ignite supports all the major VPN protocols, including PPTP, L2TP, SSTP and OpenVPN, on all our servers, and provides the highest level of security.</p>
                        </div>
                        <div class="set-div set-bg privacy-2">
                            <h4 class="heading-4">Complete Privacy</h4>
                            <p class="paragraph--small mr-tb-15">At Ignite, we guarantee complete privacy through our services. Nobody can tell which websites you visit, what is in your email, or what you do online.</p>
                        </div>
                        <div class="set-div set-bg privacy-3">
                            <h4 class="heading-4">Torrent Supported</h4>
                            <p class="paragraph--small mr-tb-15">Ignite has servers on all continents specifically optimized for torrent and P2P traffic. So regardless of how you choose to share your data—its secure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shared-section shared-sec-4">
        <div class="container">
            <div class="shared-content center-center">
                <div class="internet-security">
                    <div class="division-wrapper">
                        <div class="internet-security_content">
                            <h2 class="heading-2--left">Unrestricted Access</h2>
                            <p class="paragraph--small">Many countries around the globe censor content and services that are accessible from within that country. Ignite will enable you to bypass these restrictions by connecting to our VPN server in another country. Whether you want to access Skype, Facebook, Youtube, Twitter, or Netflix, Ignite unblocks the web.</p>
                        </div>
                        <div class="internet-security_content">
                            <p class="paragraph--small no-margin-top">Certain companies limit access to their online content to a specific geographical region. With Ignite, you can connect to a server in the target country, therefore appearing to be within that geographical region, getting full access to the previously blocked content. You can now watch US and UK TV stations even from outside the US and UK, all from the comfort of your home. Ignite gives you the best entertainment experience with access to thousands of movies, TV series and sporting events.</p>
                        </div>
                    </div>
                    <div class="set-access">
                        <div class="set-div set-bg access-1">
                            <h4 class="heading-4">Connect to Anywhere</h4>
                            <p class="paragraph--small mr-tb-15">We have 190 servers in 54 countries, strategically placed on 6 continents to facilitate minimum latency, greatest speed and continuous connectivity.</p>
                        </div>
                        <div class="set-div set-bg access-2">
                            <h4 class="heading-4">Blazing Fast</h4>
                            <p class="paragraph--small mr-tb-15">Ignite provides unlimited network transfer speeds of up to 1Gbps on all our VPN servers worldwide. These speeds are not artificially limited.</p>
                        </div>
                        <div class="set-div set-bg access-3">
                            <h4 class="heading-4">Access Geo-Blocked Sites</h4>
                            <p class="paragraph--small mr-tb-15">Ignite works with all internet service providers. No matter where you are in the world­—the Middle East, China, etc.—our services are always available.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="count">
        <div class="container">
            <div class="count-head">
                <h2 class="heading-2--centered">Six Continents, 54 Countries,</h2>
                <h2 class="heading-2--centered">190 Physical Locations. And counting.</h2>
            </div>
            <div class="img-map">
                <img src="images/locations2.png" alt="map" class="img-responsive">
            </div>
            <div class="list-of">
                <ul class="list-inline">
                    <li class="flag usa-flag">
                        <img src="images/united-states.jpg" alt="united-states" class="img-responsive">
                        <p class="paragraph--large no-margin-top">USA</p>
                    </li>
                    <li class="flag uk-flag">
                        <img src="images/united-kingdom.jpg" alt="united-kingdom" class="img-responsive">
                        <p class="paragraph--large no-margin-top">UK</p>
                    </li>
                    <li class="flag france-flag">
                        <img src="images/france.jpg" alt="france" class="img-responsive">
                        <p class="paragraph--large no-margin-top">France</p>
                    </li>
                    <li class="flag czech-republic-flag">
                        <img src="images/czech-republic.jpg" alt="czech-republic" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Czech Republic</p>
                    </li>
                    <li class="flag italy-flag">
                        <img src="images/italy.jpg" alt="italy" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Italy</p>
                    </li>
                    <li class="flag canada-flag">
                        <img src="images/canada.jpg" alt="canada" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Canada</p>
                    </li>
                    <li class="flag australia-flag">
                        <img src="images/australia.jpg" alt="australia" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Australia</p>
                    </li>
                    <li class="flag germany-flag">
                        <img src="images/germany.jpg" alt="germany" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Germany</p>
                    </li>
                    <li class="flag austria-flag">
                        <img src="images/austria.jpg" alt="austria" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Austria</p>
                    </li>
                    <li class="flag sweden-flag">
                        <img src="images/sweden.jpg" alt="sweden" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Sweden</p>
                    </li>
                    <li class="flag spain-flag">
                        <img src="images/spain.jpg" alt="spain" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Spain</p>
                    </li>
                    <li class="flag south-korea-flag">
                        <img src="images/south-korea.jpg" alt="south-korea" class="img-responsive">
                        <p class="paragraph--large no-margin-top">South Korea</p>
                    </li>
                    <li class="flag norway-flag">
                        <img src="images/norway.jpg" alt="norway" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Norway</p>
                    </li>
                    <li class="flag belgium-flag">
                        <img src="images/belgium.jpg" alt="belgium" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Belgium</p>
                    </li>
                    <li class="flag turkey-flag">
                        <img src="images/turkey.jpg" alt="turkey" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Turkey</p>
                    </li>
                    <li class="flag switzerland-flag">
                        <img src="images/switzerland.jpg" alt="switzerland" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Switzerland</p>
                    </li>
                    <li class="flag brazil-flag">
                        <img src="images/brazil.jpg" alt="brazil" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Brazil</p>
                    </li>
                    <li class="flag russia-flag">
                        <img src="images/russia.jpg" alt="russia" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Russia</p>
                    </li>
                    <li class="flag japan-flag">
                        <img src="images/japan.jpg" alt="japan" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Japan</p>
                    </li>
                    <li class="flag hong-kong-flag">
                        <img src="images/hong-kong.jpg" alt="hong-kong" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Hong Kong</p>
                    </li>
                    <li class="flag india-flag">
                        <img src="images/india.jpg" alt="india" class="img-responsive">
                        <p class="paragraph--large no-margin-top">India</p>
                    </li>
                    <li class="flag china-flag">
                        <img src="images/china.jpg" alt="china" class="img-responsive">
                        <p class="paragraph--large no-margin-top">China</p>
                    </li>
                    <li class="flag panama-flag">
                        <img src="images/panama.jpg" alt="panama" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Panama</p>
                    </li>
                    <li class="flag south-africa-flag">
                        <img src="images/south-africa.jpg" alt="south-africa" class="img-responsive">
                        <p class="paragraph--large no-margin-top">South Africa</p>
                    </li>
                    <li class="flag poland-flag">
                        <img src="images/poland.jpg" alt="poland" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Poland</p>
                    </li>
                    <li class="flag ireland-flag">
                        <img src="images/ireland.jpg" alt="ireland" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Ireland</p>
                    </li>
                    <li class="flag bulgaria-flag">
                        <img src="images/bulgaria.jpg" alt="bulgaria" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Bulgaria</p>
                    </li>
                    <li class="flag new-zealand-flag">
                        <img src="images/new-zealand.jpg" alt="new-zealand" class="img-responsive">
                        <p class="paragraph--large no-margin-top">New Zealand</p>
                    </li>
                    <li class="flag estonia-flag">
                        <img src="images/estonia.jpg" alt="estonia" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Estonia</p>
                    </li>
                    <li class="flag ukraine-flag">
                        <img src="images/ukraine.jpg" alt="ukraine" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Ukraine</p>
                    </li>
                    <li class="flag mexico-flag">
                        <img src="images/mexico.jpg" alt="mexico" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Mexico</p>
                    </li>
                    <li class="flag luxembourg-flag">
                        <img src="images/luxembourg.jpg" alt="luxembourg" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Luxembourg</p>
                    </li>
                    <li class="flag denmark-flag">
                        <img src="images/denmark.jpg" alt="denmark" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Denmark</p>
                    </li>
                    <li class="flag finland-flag">
                        <img src="images/finland.jpg" alt="finland" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Finland</p>
                    </li>
                    <li class="flag hungary-flag">
                        <img src="images/hungary.jpg" alt="hungary" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Hungary</p>
                    </li>
                    <li class="flag singapore-flag">
                        <img src="images/singapore.jpg" alt="singapore" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Singapore</p>
                    </li>
                    <li class="flag iceland-flag">
                        <img src="images/iceland.jpg" alt="iceland" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Iceland</p>
                    </li>
                    <li class="flag iran-flag">
                        <img src="images/iran.jpg" alt="iran" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Iran</p>
                    </li>
                    <li class="flag greece-flag">
                        <img src="images/greece.jpg" alt="greece" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Greece</p>
                    </li>
                    <li class="flag romania-flag">
                        <img src="images/romania.jpg" alt="romania" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Romania</p>
                    </li>
                    <li class="flag malaysia-flag">
                        <img src="images/malaysia.jpg" alt="malaysia" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Malaysia</p>
                    </li>
                    <li class="flag israel-flag">
                        <img src="images/israel.jpg" alt="israel" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Israel</p>
                    </li>
                    <li class="flag taiwan-flag">
                        <img src="images/taiwan.jpg" alt="taiwan" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Taiwan</p>
                    </li>
                    <li class="flag netherlands-flag">
                        <img src="images/netherlands.jpg" alt="netherlands" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Netherlands</p>
                    </li>
                    <li class="flag chile-flag">
                        <img src="images/chile.jpg" alt="chile" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Chile</p>
                    </li>
                    <li class="flag vietnam-flag">
                        <img src="images/vietnam.jpg" alt="vietnam" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Vietnam</p>
                    </li>
                    <li class="flag thailand-flag">
                        <img src="images/thailand.jpg" alt="thailand" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Thailand</p>
                    </li>
                    <li class="flag lithuania-flag">
                        <img src="images/lithuania.jpg" alt="lithuania" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Lithuania</p>
                    </li>
                    <li class="flag egypt-flag">
                        <img src="images/egypt.jpg" alt="egypt" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Egypt</p>
                    </li>
                    <li class="flag indonesia-flag">
                        <img src="images/indonesia.jpg" alt="indonesia" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Indonesia</p>
                    </li>
                    <li class="flag pakistan-flag">
                        <img src="images/pakistan.jpg" alt="pakistan" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Pakistan</p>
                    </li>
                    <li class="flag argentina-flag">
                        <img src="images/argentina.jpg" alt="argentina" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Argentina</p>
                    </li>
                    <li class="flag portugal-flag">
                        <img src="images/portugal.jpg" alt="portugal" class="img-responsive">
                        <p class="paragraph--large no-margin-top">Portugal</p>
                    </li>
                    <li class="flag uae-flag">
                        <img src="images/united-arab-emirates.jpg" alt="united-arab-emirates" class="img-responsive">
                        <p class="paragraph--large no-margin-top text-left">United Arab Emirates</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="features-budget">
        <div class="container">
            <div class="set-high">
                <div class="features-brows">
                    <div class="browser">
                        <h2 class="heading-2--centered">Get Ignite VPN and enjoy</h2>
                        <h2 class="heading-2--centered">truly free and secure Internet</h2>
                    </div>
                </div>
                <div class="budget-section feature-budget">
                    <div class="budget-monthly">
                        <div class="budget-head">
                            <h3 class="heading-3">Monthly</h3>
                        </div>
                        <div class="budget-body">
                            <span class="character-style">$</span>
                            <span class="pay">6.95</span>
                            <span class="payment">/month</span>
                            <p>
                                <span class="payment-details">billed monthly at $6.99</span>
                            </p>
                        </div>
                        <div class="budget-tail">
                            <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=monthly">Sign Up Now</a></p>
                        </div>
                    </div>
                    <div class="budget-annually">
                        <div class="budget-head">
                            <h3 class="heading-3">Annually</h3>
                        </div>
                        <div class="budget-body">
                            <span class="character-style">$</span>
                            <span class="pay">3.33</span>
                            <span class="Payment">/month</span>
                            <p>
                                <span class="payment-details">billed annually at $39.95</span>
                            </p>
                        </div>
                        <div class="budget-tail">
                            <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=annually">Sign Up Now</a></p>
                        </div>
                        <div class="best-pricing hidden-xs hidden-sm">
                        </div>
                    </div>
                    <div class="budget-semi-annually">
                        <div class="budget-head">
                            <h3 class="heading-3">Semi-Annually</h3>
                        </div>
                        <div class="budget-body">
                            <span class="character-style">$</span>
                            <span class="pay">5.99</span>
                            <span class="Payment">/month</span>
                            <p>
                                <span class="payment-details">billed semi-annually at $35.99</span>
                            </p>
                        </div>
                        <div class="budget-tail">
                            <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=semiannually">Sign Up Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog">
        <div class="div-50 link-blog-1 full-width-md">
            <a href="#">
                <h3 class="center-center">Blog ></h3>
            </a>
        </div>
        <div class="div-50 link-blog-2 full-width-md">
            <a href="#">
                <h3 class="center-center">Support ></h3>
            </a>
        </div>
    </section>
{% include "footer.html" %}
