    <footer>
        <section class="primary-footer">
            <div class="container">
                <div class="footer-links">
                    <a href="../ignite/index.html" class="inverse-logo"></a>
                    <ul class="list-inline custom-inline mr-l-30 md-hide">
                        <li><a href="/support">Support </a></li>
                        <li><a href="/press">Press</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/support">Contact Us</a></li>
                    </ul>
                    <div class="md-footer">
                        <ul class="list-unstyled custom-inline no-margin-top">
                            <li><a href="/support">Support </a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                        <ul class="list-unstyled custom-inline no-margin-top">
                            <li><a href="/support">Contact Us</a></li>
                            <li><a href="/press">Press</a></li>
                        </ul>
                        <ul class="list-unstyled custom-inline no-margin-top">
                            <li><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-app">
                    <a href="#" class="foot-app foot-app-1">
                    </a>
                    <a href="#" class="foot-app foot-app-2">
                    </a>
                </div>
            </div>
        </section>
        <section class="secoundary-footer">
            <div class="container">
                <div class="text-list">
                    <p class="foot-text md-show">Copyright © 2017 Ignite Inc. All rights reserved.</p>
                    <ul class="list-inline custom-inline custom-inline-text md-hide">
                        <li><a href="#">Copyright © 2017 Ignite Inc. All rights reserved.</li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href=/"terms">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="icon-list">
                    <ul class="list-inline social-icons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa transition fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa transition fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa transition fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/offcanvas.js"></script>
    <!--console-err.js to avoid cosole error in browser-->
    <script src="/js/console-err.js"></script>
    <!--main.js for custom script-->
    <script src="/js/main.js"></script>
</body>

</html>
