<!doctype html>
<html class="" lang="">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>IgniteVPN - Security. Privacy. Access.</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jasny-bootstrap.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--main.css for custom style-->
    <link rel="stylesheet" href="/css/main.css">
    <!--media-query.css for custom style-->
    <link rel="stylesheet" href="/css/media-query.css">
</head>

<body>
    <!-- Add your site or application content here -->
    <!-- here the code starts -->
    <header>
        <a class="navmenu-brand logo" href="/"></a>
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <a class="navbar-brand logo-sidebar" href="/"></a>
            <ul class="nav navmenu-nav">
                <li><a href="/meet-ignite">meet ignite</a></li>
                <li><a href="/features">features</a></li>
                <li><a href="/apps">apps</a></li>
                <li><a href="/pricing">pricing</a></li>
                <li><a href="/support">support</a></li>
            </ul>
        </div>
        <ul class="nav">
            <li class="sm-hide"><a href="members/clientarea">sign in</a></li>
            <li><a class="btn btn-default link-btn transition" href="/cart" role="button">get iginite</a></li>
        </ul>
    </header>
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
    </button>
