<!doctype html>
<html class="" lang="">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ title }}</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jasny-bootstrap.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--main.css for custom style-->
    <link rel="stylesheet" href="/css/main.css">
    <!--media-query.css for custom style-->
    <link rel="stylesheet" href="/css/media-query.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://js.stripe.com/v3"></script>
<style>
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
</style>
</head>

<body>
	<div class="container-fluid">
    <header>
        <a class="navmenu-brand logo" href="/"></a>
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
            <a class="navbar-brand logo-sidebar" href="/"></a>
            <ul class="nav navmenu-nav">
                <li><a href="/meet-ignite">meet ignite</a></li>
                <li><a href="/features">features</a></li>
                <li><a href="/apps">apps</a></li>
                <li><a href="/pricing">pricing</a></li>
                <li><a href="/contact">contact us</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if email %}
                <li><a href="/members/clientarea">{{ email }}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
            <li class="dropdown">
                <a href="/members/clientarea" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-log-in"></span> Sign in <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
<div class="col-lg-12">
						<div class="text-center"><h3><b>Log In</b></h3></div>
						<form id="ajax-login-form" action="/login" method="post" role="form" autocomplete="off">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" class="form-control" placeholder="Email" />
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" name="password" id="password" class="form-control" placeholder="Password" />
							</div>
							<div class="form-group">
								<div class="row">
                                <!--
									<div class="col-xs-7">
										<input type="checkbox" tabindex="3" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
                                    --!>
									<div class="col-xs-5 pull-right">
										<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<a href="/reset" tabindex="5" class="forgot-password">Forgot Password?</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
                </ul>
            </li>
            {% endif %}
            <li><a class="btn btn-default link-btn transition" href="/cart" role="button">get iginite</a></li>
        </ul>
    </header>
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
    </button>
