{% include "header.html" %}
    <!-- /.container -->
    <div class="body-overlay"></div>
    <div class="hero-info">
        <div class="mid-logo hero-md-mid">
            <img src="images/ingite_logo_white.svg" alt="">
        </div>
        <div class="header-content hero-content">
            <h1 class="heading-1 ">Security. Privacy. Access.</h1>
            <h3 class="heading-3">On your desktop & in your pocket.</h3>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
            <h2 class="heading-2">Ignite Virtual Private Network.</h2>
            <h2 class="heading-2">Complex name. Simple solution.</h2>
            <p class="paragraph--large">Ignite is a Virtual Private Network which gives you total privacy online, secures your internet connection, and unblocks the web. Ignite prevents hackers, government agencies and your internet service provider from tracking you online. Otherwise, your sensitive data, internet history, and financial transactions can be intercepted, monitored and modified. Ignite gives you the protection you need, with bulletproof encryption, all at blazing fast speeds and with unlimited bandwidth.</p>
            <a class="nonblock" href="/meet-ignite">
                <p class="link--large">Learn more about Ignite > </p>
            </a>
        </div>
    </section>
    <section class="set-section">
        <div class="set-img set-img-1">
            <div class="set-box">
                <h4 class="heading-4--left">Online Security</h4>
                <h2 class="heading-2--left">Protect all your data.</h2>
                <h2 class="heading-2--left">With a single click.</h2>
                <p class="paragraph--small">Simply connect to Ignite and your data is instantly secure and encrypted. Ignite provides state-of-the-art protection of your identity, personal information, and online data — whether you are checking you bank account balance, or uploading family pictures.</p>
                <a class="nonblock" href="/features">
                    <p class="link--Small">Learn more about Ignite's security protection &gt;</p>
                </a>
            </div>
            <div class="bg-white hidden-sm hidden-xs"></div>
        </div>
        <div class="set-img set-img-2">
            <div class="set-box">
                <h4 class="heading-4--left">Online Privacy</h4>
                <h2 class="heading-2--left">Keep all your activity</h2>
                <h2 class="heading-2--left">private. Anywhere.</h2>
                <p class="paragraph--small">Ignite shields your online activity, browsing history, and physical location from third parties who try to snoop or track your internet traffic. Ignite protects you anywhere you are, especially on public networks like coffee shop and airport wi-fi hot spots.</p>
                <a class="nonblock" href="/features">
                    <p class="link--Small">Learn more about Ignite's security protection &gt;</p>
                </a>
            </div>
            <div class="bg-white hidden-sm hidden-xs"></div>
        </div>
        <div class="set-img set-img-3">
            <div class="set-box">
                <h4 class="heading-4--left">Online Access</h4>
                <h2 class="heading-2--left">Unblock the web.</h2>
                <h2 class="heading-2--left">Wherever you are.</h2>
                <p class="paragraph--small">Ignite allows you to access your favorite content, no matter where you are, by hiding your real location — breaking you free of geo-restrictions and government censorship. So, neither the Great Firewall of China nor your office internet filter stand a chance.</p>
                <a class="nonblock" href="/features">
                    <p class="link--Small">Learn more about Ignite's content unblocking &gt;</p>
                </a>
            </div>
            <div class="bg-white hidden-sm hidden-xs"></div>
        </div>
    </section>
    <section>
        <div class="shadow">
            <div class="container">
                <div class="shadow-box">
                    <h2 class="heading-2--Left">Mac. Windows. iOS. Android.</h2>
                    <h2 class="heading-2--Left">We've got you covered.</h2>
                    <p class="paragraph--large">With our mobile and desktop apps, Ignite makes it possible to regain privacy and keep your data encrypted — whether you are at home, at the office, or on the go.</p>
                    <a class="nonblock" href="/apps">
                        <p class="link--large">Learn more about Ignite VPN Apps &gt;</p>
                    </a>
                </div>
            </div>
    </section>
    <section class="set-section mt-t90">
        <div class="set-img set-img-4">
            <div class="set-box set-box--right">
                <h4 class="heading-4--left">Server Locations</h4>
                <h2 class="heading-2--left">Location, location,</h2>
                <h2 class="heading-2--left">location. We got 'em.</h2>
                <p class="paragraph--small">Ignite gives you access to 54 countries around the world, with 190 virtual locations. Our servers are strategically placed on 6 continents to facilitate, blazing speed, minimum latency, and continuous connectivity, no matter where you connect from.</p>
                <a class="nonblock" href="/features">
                    <p class="link--Small">Learn more about Ignite's server locations ></p>
                </a>
            </div>
            <div class="bg-white hidden-sm hidden-xs"></div>
        </div>
    </section>
    <section class="brows-section">
        <div class="browser">
            <h2 class="heading-2--centered">Security. Privacy. Access.</h2>
            <h2 class="heading-2--centered">On every budget.</h2>
            <p class="paragraph--large">So, why wait? Get Ignite today and protect yourself from hackers, your internet service provider, government agencies, and other prying eyes.</p>
        </div>
    </section>
    <section class="budget">
        <div class="container">
            <div class="budget-section">
                <div class="budget-monthly">
                    <div class="budget-head">
                        <h3 class="heading-3">Monthly</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">6.95</span>
                        <span class="payment">/month</span>
                        <p>
                            <span class="payment-details">billed monthly at $6.99</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="/cart">Sign Up Now</a></p>
                    </div>
                </div>
                <div class="budget-annually">
                    <div class="budget-head">
                        <h3 class="heading-3">Annually</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">3.33</span>
                        <span class="Payment">/month</span>
                        <p>
                            <span class="payment-details">billed annually at $39.95</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="/cart">Sign Up Now</a></p>
                    </div>
                    <div class="best-pricing hidden-xs hidden-sm">
                    </div>
                </div>
                <div class="budget-semi-annually">
                    <div class="budget-head">
                        <h3 class="heading-3">Semi-Annually</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">5.99</span>
                        <span class="Payment">/month</span>
                        <p>
                            <span class="payment-details">billed semi-annually at $35.99</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="/cart">Sign Up Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog">
        <div class="div-50 link-blog-1">
            <a href="/blog">
                <h3>Blog ></h3>
            </a>
        </div>
        <div class="div-50 link-blog-2">
            <a href="/contact">
                <h3>Contact Us ></h3>
            </a>
        </div>
    </section>
{% include "footer.html" %}
