{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-header">
        <div class="inner-iginte-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content mr-t-15 center-center full-width-sm">
                <h1 class="heading-1">Meet Ignite</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <a href="../ignite/features.html" class="d-block">
            <div class="separate-div">
                <h2 class="heading-2">Lightweight app.</h2>
                <h2 class="heading-2">Heavyweight protections.</h2>
                <p class="paragraph--large">VPN is an acronym for ‘Virtual Private Network’, historically used by private organizations to link geographically diverse locations seamlessly over the internet. Ignite VPN "tunnels" traffic between two devices by transmitting it over the public internet. Ignite VPN takes this one step further by giving you the option to encrypt all the data you send and receive, and additionally allows you to appear to be located many miles away or in a different country from where you really are.</p>
                <a class="nonblock" href="/features">
                    <p class="link--large">Learn more about Ignite > </p>
                </a>
            </div>
        </a>
    </section>
{% include "footer.html" %}
