{% include "header.html" %}
    <div class="row">
        <form id="reset_form" class="form" method="post" action="/do_reset">
            <input type="hidden" name="key" value="{{ key }}" />
            <label>New Password</label>
            <input type="password" id="pw1" name="pw1" placeholder="Password" />
            <label>Confirm</label>
            <input type="password" id="pw2" name="pw2" placeholder="Confirm" />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div id="error" style="display:none">
        <p>Passwords do not match</p>
    </div>
    <script src="/js/jquery.js"></script>
    <script>
        $('#reset_form').on('submit', (event)=>{
            event.preventDefault();
            if( pw1 && pw2) {
                let pw1 = $('#pw1').val();
                let pw2 = $('#pw2').val();
                if (pw1 != pw2) {
                    $('#error').show();
                } else {
                   $('#reset_form').submit(); 
                }
            }
        }); 
    </script>
{% include "footer.html" %}
