{% include "header.html" %}
<style>
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>
<script src="https://js.stripe.com/v3"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <h3>{{ uobj.e }}</h3>
            </div>
            <div>
                <h2>Payment</h2>
            </div>
            <div>
                <form action="/charge" method="post" id="payment-form">
                    <div class="form-row">
                        <label for="card-element">Credit or Debit Card</label>
                        <div id="card-element"></div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <button id="sub_button">Submit Payment</button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
var stripe = Stripe('{{ pk }}');
var elements = stripe.elements();
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

var card = elements.create('card', {style: style});
card.mount('#card-element');
card.addEventListener('change', function(event) {
	var displayError = document.getElementById('card-errors');
	if (event.error) {
		displayError.textContent = event.error.message;
	} else {
		displayError.textContent = '';
	}
});

var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
	event.preventDefault();
    $('#sub_button').prop('disabled','true');
	stripe.createToken(card).then(function(result) {
		if (result.error) {
			var displayError = document.getElementById('card-errors');
			displayError.textContent = result.error.message;
            $('#sub_button').prop('disabled','');
		} else {
			stripeTokenHandler(result.token);
		}
	});
});

function stripeTokenHandler(token) {
	$.post('/api/charge_new',
		{
			'stripe_obj': JSON.stringify(token),
            'udata': '{{ enc }}'
		},
		function(data) {
            if (data.status == '1') {
                window.location = '/receipt/'+data.msg;
            } else {
                $('#card-errors').text(data.msg);
                $('#sub_button').prop('disabled','');
            }
		},'json'
	);
}
</script>
{% include "footer.html" %}
