{% include "header.html" %}
<!-- /.container -->
    <div class="body-overlay"></div>
    <div class="iginte-pricing-header">
        <div class="header-content center-center full-width-md">
            <h1 class="heading-1">Press</h1>
        </div>
    </div>
    <section class="pricing">
        
    </section>
    <section class="secure-bg">
        <div class="container">
            <div class="set-secure">
                <div class="set-div set-bg secur-1">
                    <h4 class="heading-4">Press Title 1</h4>
                    <p class="paragraph--small mr-tb-15">Encrypt all your digital data such as credit cards, account information, banking details, and other sensitive online data, no matter where you are.</p>
                </div>
                <div class="set-div set-bg secur-2">
                    <h4 class="heading-4">Press Title 2</h4>
                    <p class="paragraph--small mr-tb-15">ignite offers unlimited bandwidth and have no artificial usage quotas. Plus, our customers get three simultaneous connections from the same place.</p>
                </div>
                <div class="set-div set-bg secur-3">
                    <h4 class="heading-4">Press Title 3</h4>
                    <p class="paragraph--small mr-tb-15">We never log you usage or activity. Under no circumstances will we ever provide any personal, communication, or usage information to third parties.</p>
                </div>
            </div>
            <div class="set-privacy">
                <div class="set-div set-bg privacy-1">
                    <h4 class="heading-4">VPN Protocols</h4>
                    <p class="paragraph--small mr-tb-15">Ignite supports all the major VPN protocols, including PPTP, L2TP, SSTP and OpenVPN, on all our servers, and provides the highest level of security.</p>
                </div>
                <div class="set-div set-bg privacy-2">
                    <h4 class="heading-4">Complete Privacy</h4>
                    <p class="paragraph--small mr-tb-15">At Ignite, we guarantee complete privacy through our services. Nobody can tell which websites you visit, what is in your email, or what you do online.</p>
                </div>
                <div class="set-div set-bg privacy-3">
                    <h4 class="heading-4">Torrent Supported</h4>
                    <p class="paragraph--small mr-tb-15">Ignite has servers on all continents specifically optimized for torrent and P2P traffic. So regardless of how you choose to share your data—its secure.</p>
                </div>
            </div>
            <div class="set-access">
                <div class="set-div set-bg access-1">
                    <h4 class="heading-4">Connect to Anywhere</h4>
                    <p class="paragraph--small mr-tb-15">We have 190 servers in 54 countries, strategically placed on 6 continents to facilitate minimum latency, greatest speed and continuous connectivity.</p>
                </div>
                <div class="set-div set-bg access-2">
                    <h4 class="heading-4">Blazing Fast</h4>
                    <p class="paragraph--small mr-tb-15">Ignite provides unlimited network transfer speeds of up to 1Gbps on all our VPN servers worldwide. These speeds are not artificially limited.</p>
                </div>
                <div class="set-div set-bg access-3">
                    <h4 class="heading-4">Access Geo-Blocked Sites</h4>
                    <p class="paragraph--small mr-tb-15">Ignite works with all internet service providers. No matter where you are in the world­—the Middle East, China, etc.—our services are always available.</p>
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}
