{% include "header.html" %}
<!-- /.container -->
    <div class="body-overlay"></div>
    <div class="iginte-pricing-header">
        <div class="header-content center-center full-width-md">
            <h1 class="heading-1">Press</h1>
        </div>
    </div>
    <br>

    <section class="secure-bg">
        <div class="container">
            <div class="set-secure">
                <div class="set-div">
                    <a href="#"><img src="images/press-gothamist.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://gothamist.com/2017/07/20/3_instances_you_should_be_using_a_v.php">3 Instances You Should Be Using A VPN</a></p>
                </div>
                <div class="set-div"><a href="https://www.forbes.com/sites/leemathews/2017/01/27/what-is-a-vpn-and-why-should-you-use-one/"><img src="images/press-forbes.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="https://www.forbes.com/sites/leemathews/2017/01/27/what-is-a-vpn-and-why-should-you-use-one/">What A VPN Is, And Why You Should Use It To Protect Your Privacy</a></p>
                </div>
                <div class="set-div">
                    <a href="http://www.thedailybeast.com/why-you-should-never-go-online-without-using-a-vpn"><img src="images/press-thedailybeast.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://www.thedailybeast.com/why-you-should-never-go-online-without-using-a-vpn">Why You Should Never Go Online Without Using A VPN</a></p>
                </div>
            </div>
            <div class="set-privacy">
                <div class="set-div">
                    <a href="http://www.techradar.com/news/how-does-a-vpn-work"><img src="images/press-techradar.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://www.techradar.com/news/how-does-a-vpn-work">How does a VPN work?</a></p>
                </div>
                <div class="set-div">
                    <a href="http://mashable.com/2017/07/13/net-neutrality-vpn-deal/#a7nfObdfXiqM"><img src="images/press-mashable.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://mashable.com/2017/07/13/net-neutrality-vpn-deal/#a7nfObdfXiqM">Why threats against net neutrality mean you need a VPN now more than ever</a></p>
                </div>
                <div class="set-div">
                    <a href="https://www.theinquirer.net/inquirer/news/3013614/china-isnt-planning-vpn-ban-after-all"><img src="images/press-theinquirer.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="https://www.theinquirer.net/inquirer/news/3013614/china-isnt-planning-vpn-ban-after-all">China isn't planning a blanket ban on VPNs after all</a></p>
                </div>
            </div>
            <div class="set-access">
                <div class="set-div">
                    <a href="http://www.huffingtonpost.com/entry/vpns-secured-my-privacy-how-i-regained-my-confidence_us_596e2c60e4b05561da5a5ad2"><img src="images/press-huffpost.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://www.huffingtonpost.com/entry/vpns-secured-my-privacy-how-i-regained-my-confidence_us_596e2c60e4b05561da5a5ad2">VPNs Secured My Privacy: How I Regained My Confidence to Start Researching Again</a></p>
                </div>
                <div class="set-div">
                    <a href="https://www.cnet.com/news/vpn-protect-online-privacy-its-complicated/"><img src="images/press-cnet.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="https://www.cnet.com/news/vpn-protect-online-privacy-its-complicated/">A VPN can protect your online privacy. But there's a catch</a></p>
                </div>
                <div class="set-div">
                    <a href="https://www.cnet.com/how-to/understanding-vpns-and-how-to-choose-one/"><img src="images/press-cnet.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="https://www.cnet.com/how-to/understanding-vpns-and-how-to-choose-one/">Understanding VPNs and how to choose one</a></p>
                </div>
                <div class="set-div">
                    <a href="http://www.popsci.com/watch-foreign-tv-at-home"><img src="images/press-popsci.jpg" width="227" height="100" alt=""/></a>
                    <p class="paragraph--small mr-tb-15"><a href="http://www.popsci.com/watch-foreign-tv-at-home">How to watch foreign TV at home</a></p>
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}
