{% include "header.html" %}
    <!-- /.container -->
    <div class="body-overlay"></div>
    <div class="iginte-pricing-header">
        <div class="header-content center-center full-width-md">
            <h1 class="heading-1">Pricing Guide</h1>
        </div>
    </div>
    <section class="pricing">
        <div class="container">
            <div class="budget-section pricing-budget">
                <div class="budget-monthly pricing-budget-monthly md-mr-b-20">
                    <div class="budget-head">
                        <h3 class="heading-3">Monthly</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">6.95</span>
                        <span class="payment">/month</span>
                        <p>
                            <span class="payment-details">billed monthly at $6.99</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=monthly">Sign Up Now</a></p>
                    </div>
                </div>
                <div class="budget-annually pricing-budget-annually md-mr-b-20">
                    <div class="budget-head">
                        <h3 class="heading-3">Annually</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">3.33</span>
                        <span class="Payment">/month</span>
                        <p>
                            <span class="payment-details">billed annually at $39.95</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=annually">Sign Up Now</a></p>
                    </div>
                    <div class="best-pricing hidden-xs hidden-sm">
                    </div>
                </div>
                <div class="budget-semi-annually pricing-budget-semi-annually md-mr-b-20">
                    <div class="budget-head">
                        <h3 class="heading-3">Semi-Annually</h3>
                    </div>
                    <div class="budget-body">
                        <span class="character-style">$</span>
                        <span class="pay">5.99</span>
                        <span class="Payment">/month</span>
                        <p>
                            <span class="payment-details">billed semi-annually at $35.99</span>
                        </p>
                    </div>
                    <div class="budget-tail">
                        <p><a href="http://ignitevpn.com/members/cart.php?a=add&pid=1&billingcycle=semiannually">Sign Up Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="secure-bg">
        <div class="container">
            <div class="set-secure">
                <div class="set-div set-bg secur-1">
                    <h4 class="heading-4">Encrypts Your Data</h4>
                    <p class="paragraph--small mr-tb-15">Encrypt all your digital data such as credit cards, account information, banking details, and other sensitive online data, no matter where you are.</p>
                </div>
                <div class="set-div set-bg secur-2">
                    <h4 class="heading-4">Unlimited Bandwidth</h4>
                    <p class="paragraph--small mr-tb-15">ignite offers unlimited bandwidth and have no artificial usage quotas. Plus, our customers get three simultaneous connections from the same place.</p>
                </div>
                <div class="set-div set-bg secur-3">
                    <h4 class="heading-4">Absolutely No Logs</h4>
                    <p class="paragraph--small mr-tb-15">We never log you usage or activity. Under no circumstances will we ever provide any personal, communication, or usage information to third parties.</p>
                </div>
            </div>
            <div class="set-privacy">
                <div class="set-div set-bg privacy-1">
                    <h4 class="heading-4">VPN Protocols</h4>
                    <p class="paragraph--small mr-tb-15">Ignite supports all the major VPN protocols, including PPTP, L2TP, SSTP and OpenVPN, on all our servers, and provides the highest level of security.</p>
                </div>
                <div class="set-div set-bg privacy-2">
                    <h4 class="heading-4">Complete Privacy</h4>
                    <p class="paragraph--small mr-tb-15">At Ignite, we guarantee complete privacy through our services. Nobody can tell which websites you visit, what is in your email, or what you do online.</p>
                </div>
                <div class="set-div set-bg privacy-3">
                    <h4 class="heading-4">Torrent Supported</h4>
                    <p class="paragraph--small mr-tb-15">Ignite has servers on all continents specifically optimized for torrent and P2P traffic. So regardless of how you choose to share your data—its secure.</p>
                </div>
            </div>
            <div class="set-access">
                <div class="set-div set-bg access-1">
                    <h4 class="heading-4">Connect to Anywhere</h4>
                    <p class="paragraph--small mr-tb-15">We have 190 servers in 54 countries, strategically placed on 6 continents to facilitate minimum latency, greatest speed and continuous connectivity.</p>
                </div>
                <div class="set-div set-bg access-2">
                    <h4 class="heading-4">Blazing Fast</h4>
                    <p class="paragraph--small mr-tb-15">Ignite provides unlimited network transfer speeds of up to 1Gbps on all our VPN servers worldwide. These speeds are not artificially limited.</p>
                </div>
                <div class="set-div set-bg access-3">
                    <h4 class="heading-4">Access Geo-Blocked Sites</h4>
                    <p class="paragraph--small mr-tb-15">Ignite works with all internet service providers. No matter where you are in the world­—the Middle East, China, etc.—our services are always available.</p>
                </div>
            </div>
        </div>
    </section>
{% include "footer.html" %}
