{% include "header.html" %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    Succesfully charged your {{ cobj.source.brand}} ending in {{ cobj.source.last4 }} for {{ cobj.amount/100.0 }}
                </div>
                <div>
                    Charge ID: {{ cobj.id }}
                </div>
            </div>
            <div>
                <div>Now that you have registered and completed a purchase you can immediately enable the VPN on ios 10 by:</div>
                <div>
                    <ul>
                        <li>Open Settings</li>
                        <li>Open VPN</li>
                        <li>Add VPN configuration</li>
                        <li>The type: use L2TP (best for streaming)</li>
                        <li>After choosing L2TP go back to configuration</li>
                        <li>In the description field -&gt; Ignite L2TP</li>
                        <li>In the Server firled -&gt; 23.253.99.109 (test VPN server)</li>
                        <li>In the account field enter the username you registered with</li>
                        <li>In the Password field, enter then password you registered with</li>
                        <li>In the secret field enter, "engagebdr" without the quotes, all lower case</li>
                        <li>Make sure "Send All Traffic" is on</li>
                        <li>Save the Configuration</li>
                        <li>Back in the VPN menu in settings, change the Status from Non Connected to Connected.  Wait a few seconds and you should be connected.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% include "footer.html" %}
