{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-support-header">
        <div class="inner-support-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content center-center full-width-md">
                <h1 class="heading-1">Manual Setup</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
        
        	<h2 class="heading-2">Set up your VPN on a PC</h2>
        
        	<!-- STEP 1 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step1">
                  <div class="step-content">
                    <h5>Open Settings</h5>
                    <p>To add a new VPN connection, click the <strong>Internet access icon</strong> in your system tray. From the menu that pops up, select <strong>Network settings</strong>.</p>
                    <img src="../images/pc/network-settings.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 2 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step2">
                  <div class="step-content">
                    <h5>In the Network & Internet settings panel, select <strong>VPN > Add a VPN connection</strong> and enter the details below.</h5>
                    <br>
                    <p><img src="../images/pc/vpn-connection-settings.png" alt=""/></p>
                    <p>
                    <ul>
                    <li><strong>VPN provider:</strong> Windows (built-in)</li>
                    <li><strong>Connection name:</strong> Make up a name for your connection.</li>
                    <li><strong>Server name or address:</strong> Type the desired IgniteVPN server address. (Or use <strong>23.253.99.109</strong>)</li>
                    <li><strong>VPN type:</strong> L2TP over IPSec</li>
                    <li><strong>Type of sign-in info:</strong> User name and password</li>
                    <li><strong>User name:</strong>  Type your username you registered with.</li>
                    <li><strong>Password:</strong> Type your password you registered with.</li>
                    </ul>
                    Check the box for <strong>Remember my sign-in info</strong> and then click <strong>Save</strong>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 3 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step3">
                  <div class="step-content">
                    <h5>Connect to the VPN server location</h5>
                    <p>You will now see your new VPN connection in the <strong>Network & Internet settings</strong> panel. To connect to the VPN server, click the <strong>name of the connection</strong>, then click <strong>Connect</strong>.</p>
                    <p><img src="../images/pc/connect.png" alt=""/></p>
                    <br>
                    <p>Congratulations! You can now begin surfing with freedom and security! Open your web browser, and all traffic will automatically be protected by IgniteVPN.</p>
                  </div>
                </div>
              </div>
            </div>
          
            
            
        </div>
    </section>
{% include "footer.html" %}
