{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-support-header">
        <div class="inner-support-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content center-center full-width-md">
                <h1 class="heading-1">Manual Setup</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
        
        	<h2 class="heading-2">Set up your VPN on Android</h2>
        
        	<!-- STEP 1 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step1">
                  <div class="step-content">
                    <h5>Open Settings</h5>
                    <p>Go to <strong>Settings</strong> > <strong>More...</strong>  > <strong>Wireless & Networks</strong> (for other versions of Android, this might be under <strong>Settings</strong> > <strong>Connections</strong> > <strong>More connection settings</strong> instead).</p>
                    <img src="../images/android/001.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 2 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step2">
                  <div class="step-content">
                  <h5>Configure</h5>
                    <p>Select <strong>VPN</strong> and tap the + on the top right corner (other versions of Android might name this <strong>Add VPN</strong> instead). On the <strong>Edit VPN</strong> profile screen, enter the following:</p>
                    <br>
                    <p><img src="../images/android/002.png" alt=""/></p>
                    <p>
                    <ul>
                    <li><strong>Name:</strong> Type any name that will help you recognize your VPN connection. You are  recommended to type in the location name of the server address you will  use later (for example: VPN USA West 1).</li>
                    <li><strong>Type:</strong> L2TP/IPSec PSK</li>
                    <li><strong>Server address:</strong> Type the desired IgniteVPN server address. (Or use <strong>23.253.99.109</strong>)</li>
                    <li><strong>L2TP Secret:</strong> (Leave blank)</li>
                    <li><strong>IPSec identifier:</strong> (Leave blank)</li>
                    <li><strong>IPSec pre-shared key:</strong> Type <strong>engagebdr</strong></li>
                    <li><strong>DNS search domains:</strong> (Leave blank)</li>
                    <li><strong>DNS servers (e.g.8.8.8.8):</strong> (Leave blank)</li>
                    </ul>
                    Tap <strong>Save</strong> once you are done.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 3 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step3">
                  <div class="step-content">
                    <h5>Connect</h5>
                    <p>Tap the <strong>VPN profile</strong> you just made. Type your <strong>Username</strong> and <strong>Password</strong> that you got earlier. Make sure <strong>Save account information</strong> is ticked. Then tap <strong>Connect</strong>.</p>
                    <p><img src="../images/android/004.png" alt=""/></p>
                    <br>
                    <p>Congratulations! You can now begin surfing with freedom and security! Open your web browser or any app, and all traffic will automatically be protected by IgniteVPN.</p>
                  </div>
                </div>
              </div>
            </div>
          
            
            
        </div>
    </section>
{% include "footer.html" %}
