{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-support-header">
        <div class="inner-support-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content center-center full-width-md">
                <h1 class="heading-1">Manual Setup</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
        
        	<h2 class="heading-2">Set up your VPN on iPhone (iOS)</h2>
        
        	<!-- STEP 1 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step1">
                  <div class="step-content">
                    <h5>Open Settings</h5>
                    <p>On your iOS device, tap <strong>Settings</strong> > <strong>General</strong> > <strong>VPN</strong> (scroll down) > <strong>Add VPN configuration</strong> > Setup VPN configuration</p>
                    <img src="../images/iphone/001.jpg" alt=""/>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 2 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step2">
                  <div class="step-content">
                    <h5>Select L2TP on the top, then enter the following settings:</h5>
                    <br>
                    <p><img src="../images/iphone/002.jpg" alt=""/></p>
                    <p>
                    <ul>
                    <li><strong>Description:</strong> Enter any description (for example: My VPN).</li>
                    <li><strong>Server:</strong> Type the desired IgniteVPN server address. (Or use <strong>23.253.99.109</strong>)</li>
                    <li><strong>Account:</strong> Type your username you registered with.</li>
                    <li><strong>RSA SecurID:</strong> Make sure it is off.</li>
                    <li><strong>Password:</strong> Type your password you registered with.</li>
                    <li><strong>Secret:</strong> Type <strong>engagebdr</strong></li>
                    <li><strong>Send All Traffic:</strong> Make sure it is on.</li>
                    </ul>
                    Tap <strong>Save</strong> in the top-right corner.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- STEP 3 -->
            <div class="row">
              <div class="col-sm-12">
                <div class="step step3">
                  <div class="step-content">
                    <h5>Save the Configuration and Connect</h5>
                    <p>You’re ready to connect to the VPN now! Tap the <strong>VPN</strong> button at the top right.</p>
                    <p><img src="../images/iphone/004.jpg" alt=""/></p>
                    <br>
                    <p>Congratulations! You can now begin surfing with freedom and security! Open your web browser or any app, and all traffic will automatically be protected by IgniteVPN.</p>
                  </div>
                </div>
              </div>
            </div>
          
            
            
        </div>
    </section>
{% include "footer.html" %}
