{% include "header.html" %}
    <div class="body-overlay"></div>
    <div class="iginte-support-header">
        <div class="inner-support-header">
            <div class="center-center mid-page-logo">
            </div>
            <div class="header-content center-center full-width-md">
                <h1 class="heading-1">Ignite Support</h1>
            </div>
        </div>
    </div>
    <section class="content-mid">
        <div class="separate-div">
            <h2 class="heading-2">Frequently Asked Questions</h2>
            <div class="collapse-div full-width-md">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is VPN?</a></h4></div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                VPN is an acronym for ‘Virtual Private Network’, historically used by private organizations to link geographically diverse locations seamlessly over the internet. Ignite VPN "tunnels" traffic between two devices by transmitting it over the public internet. Ignite VPN takes this one step further by giving you the option to encrypt all the data you send and receive, and additionally allows you to appear to be located many miles away or in a different country from where you really are.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

What can I do with a VPN?
</a></h4></div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                A VPN is a multi-purpose digital survival tool. You can use your VPN to:

Hide your real IP address and surf the web with absolute privacy
Protect your confidential information (e.g. e-banking credentials, social media passwords) through VPN encryption
Unblock and access your favorite websites and social media platforms
Stream and download anything securely, anonymously, and with no limits
Get discounts when you shop online
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Why do I need a VPN?</a></h4></div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                You need Ignite VPN if you don't want websites, your internet provider, or hackers having access to your personal information. Ignite VPN will encrypt your data while it's in transit, making it unreadable for third parties. IgniteVPN will also hide your IP address and location. Ignite VPN can also be needed if you need to access blocked or censored content. You will have access to  190 different locations which will give you the freedom you desire.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Which operating systems do you support?</a></h4></div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Ignite VPN supports Windows, Mac, iOS, and android right now.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Do you keep logs of my data?</a></h4></div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                We have a strict no logging policy! Ignite VPN is focused on privacy and does not track or monitor any user activity.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">How many users can connect to the VPN simultaneously?</a></h4></div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                You can use you account with up to 3 devices if they are all connected via same modem/router/wifi/IP address.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Where are your VPN servers located?</a></h4></div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                Our servers are located on 54 countries and 190 locations which are strategically placed on 6 continents to allow minimum latency, offer the greatest speed and continuous connectivity wherever you are in the world.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading8">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">What measures do you take to protect my data?</a></h4></div>
                        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                            <div class="panel-body">
                                When your device is connected to Ignite VPN, all of your internet data is encrypted using our security protocols. Ignite VPN does not log any activities while you are connected, so your activity is always secure and private.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading9">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">Will a VPN slow down my internet connection?</a></h4></div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                            <div class="panel-body">
                                It can, but often unnoticeable. On the contrary, using a VPN can boost your speed depending on your internet service provider.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading10">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">Is there a speed/bandwidth limit on your VPN Service?</a></h4></div>
                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                            <div class="panel-body">
                                Ignite VPN users enjoy unlimited network transfer speeds of up to 1Gbps and unlimited bandwidth on all our VPN servers worldwide.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading11">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">How much does Ignite VPN cost?</a></h4></div>
                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                            <div class="panel-body">
                                You can see our prices over at the <a href="pricing.php">pricing page</a>.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading12">
                            <h4 class="panel-title">
                                <span class="arrow"></span>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12">Why should I choose you?</a></h4></div>
                        <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                            <div class="panel-body">
                                Ignite gives you access to 54 countries around the world, with 190 virtual locations. Our servers are strategically placed on 6 continents to facilitate, blazing speed, minimum latency, and continuous connectivity, no matter where you connect from. Ignite VPN runs a premium VPN for an affordable and competitive price.
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
{% include "footer.html" %}
